@use '../../styles/variables'
  
$defaultFontSize: .91em
$defaultSidePadding: .44em
$defaultTopPadding: .7em
$defaultBorderSize: 1px

=focusLabelStyle
  background-color: #fff
  border-radius: 2px
  padding: 1px 2px
  top: 0
  transform: scale(.77) translateY(-#{$defaultTopPadding + $defaultFontSize / 2 })
  
.Input
  position: relative
  display: flex
  align-items: stretch
  border: $defaultBorderSize solid var(--accents-2)
  border-radius: 5px
  color: #000
  transition: all .24s ease-in-out

  &:focus-within
    border-color: var(--accents-5)

  .Label
    position: absolute
    left: calc(#{$defaultSidePadding} + #{$defaultBorderSize})
    top: 50%
    color: var(--geist-foreground)
    font-size: $defaultFontSize
    transform: translateY(-50%)
    z-index: 10
    transition: all .22s ease-in-out

    &.HasContent
      +focusLabelStyle

  &.Disabled
    opacity: .6
    cursor: not-allowed

    input
      cursor: not-allowed

  input
    display: block
    width: 100%
    border: none
    outline: none
    background-color: transparent
    font-size: $defaultFontSize
    font-weight: normal
    padding: $defaultSidePadding $defaultTopPadding
    color: var(--geist-foreground)
    z-index: 1

    &:focus + .Label
      +focusLabelStyle

  &.Bold
    border-width: 2px
    border-color: #000
    font-family: variables.$jetbrains-mono

    input
      padding: .04em $defaultTopPadding - .1em
      font-size: 1.31em
      font-weight: 500
      font-family: variables.$jetbrains-mono

  .ActionButton
    position: absolute
    top: $defaultTopPadding
    right: calc(#{$defaultBorderSize} + #{$defaultSidePadding})
    width: .9em
    height: .9em
    cursor: pointer
    z-index: 12
    transition: all .24s ease-in-out

    &:hover
      opacity: .7

    svg
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      width: 100%
      height: 100%

  .InputChildren
    display: flex
    font-weight: 500
    background-color: #000
    align-items: center
    padding: 0 $defaultSidePadding
    width: 34%
    color: #fff
    text-transform: uppercase

  &.Theme_error
    border-color: variables.$color-error
    color: variables.$color-error

    .Label, input
      color: variables.$color-error

  &.Theme_success
    border-color: variables.$theme
    color: variables.$theme

    .Label, input
      color: variables.$theme

  &.Theme_warning
    border-color: variables.$color-warning
    color: variables.$color-warning

    .Label, input
      color: variables.$color-warning

  &.Code input, &.Code .Label
    font-family: variables.$jetbrains-mono

  &.Dark
    color: #000

    &.Bold
      border-color: #fff
    
    input:focus + .Label, .Label.HasContent
      background-color: #000

    .InputChildren
      background-color: #fff
      color: #000

  &.Reverse .Label, &.Reverse input
    color: #fff

.BoldLabel
  color: var(--accents-3)
  margin-bottom: .42em
  font-family: variables.$jetbrains-mono
  text-transform: uppercase
  display: block
  font-weight: 600