@use "../../styles/variables"

$sidePadding: 44px
$topPadding: 12px

=hoverStyle($opacity: 1)
  box-shadow: 0 0 0 0 rgba(variables.$primary-color, $opacity)

  &:hover:not(:active):not(:disabled)
    box-shadow: var(--hover-shadow) rgba(variables.$primary-color, $opacity)

.Button
  display: flex
  align-items: center
  justify-content: center
  outline: none
  border: none
  cursor: pointer
  background-color: rgb(variables.$primary-color)
  color: #fff
  border-radius: .9rem
  font-size: 1.1rem
  font-weight: 500
  padding: $topPadding $sidePadding
  transition: all .23s ease-in-out

  .Loading
    color: #fff
  
  +hoverStyle

  // secondary btn styles
  &.Secondary
    background-color: rgba(variables.$primary-color, .15)
    color: rgb(variables.$primary-color)

    .Loading
      color: rgb(variables.$primary-color)

    +hoverStyle($opacity: .15)

    &.Dark
      background-color: rgba(variables.$primary-color, .3)
      +hoverStyle($opacity: .3)

  &:disabled
    cursor: not-allowed
    background-color: rgba(variables.$primary-color, .1)
    color: rgba(variables.$primary-color, .4)

    &.Dark
      background-color: rgba(variables.$primary-color, .2)
      color: rgba(variables.$primary-color, .55)

  &.small
    padding: $topPadding / 3 * 2 $sidePadding / 2
    font-size: .9rem
    border-radius: .7rem

  &.FullWidth
    width: 100%
    padding:
      left: 0
      right: 0