@use "../../styles/variables"

$sidePaddingNormal: 44px
$topPaddingNormal: 12px
$sidePaddingSmall: 1.7em

=hoverStyle($opacity: 1)
  box-shadow: 0 0 0 0 rgba(variables.$primary-color, $opacity)

  &:hover:not(:active):not(:disabled)
    box-shadow: var(--hover-shadow) rgba(variables.$primary-color, $opacity)

.Button
  display: flex
  align-items: center
  justify-content: center
  outline: none
  border: none
  cursor: pointer
  background-color: rgb(variables.$primary-color)
  color: variables.$foreground-reverse-color
  border-radius: .9rem
  font-size: 1.1rem
  font-weight: 500
  padding: $topPaddingNormal $sidePaddingNormal
  transition: all .23s ease-in-out

  &:disabled
    cursor: not-allowed
    background-color: rgba(variables.$primary-color, .1)
    color: rgba(variables.$primary-color, .4)
  
  +hoverStyle

  // secondary btn styles
  &.Secondary
    background-color: rgba(variables.$primary-color, .15)
    color: rgb(variables.$primary-color)

    +hoverStyle($opacity: .15)

  &.small
    padding: $topPaddingNormal $sidePaddingSmall
    font-size: variables.$smaller-font-size
    border-radius: variables.$small-items-radius

    &.outlined, &.secondary
      padding: calc(#{$topPaddingNormal} - #{variables.$borderWidth}) calc(#{$sidePaddingSmall} - #{variables.$borderWidth})

  &.FullWidth
    width: 100%
    padding:
      left: 0
      right: 0