.section {
  margin-bottom: 1.65em;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.test-token {
  display: flex;
  cursor: pointer;
  align-items: center;
}

.test-token h1 {
  margin: 0;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.06em;
}

.test-token .info {
  margin-left: 2em;
}

.test-token .info h4 {
  font-weight: 400;
  margin-bottom: 0.17em;
  font-size: 1.33em;
}

.test-token .info p {
  overflow-wrap: anywhere;
  margin: 0;
  font-size: 0.9em;
}

.test-token .info p span,
.test-token .info h4 span {
  color: #828282;
  text-transform: uppercase;
  margin-right: 0.5em;
}

.section .select:not(:last-child) {
  margin-bottom: 1em;
}
