@use "./variables"
@use "./jetbrains-mono"
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap")
  
body, html
  margin: 0
  font-family: variables.$poppins
  transition: background-color .25s ease-in-out

::selection
  background-color: variables.$foreground-color
  color: variables.$foreground-reverse-color

input, button, select, textarea
  font-family: variables.$poppins

*
  -webkit-tap-highlight-color: transparent

h1, h2, h3, h4, h5, h6, p, a
  &.code
    font-family: variables.$jetbrains-mono

h1, h2, h3, h4, h5, h6, p
  transition: all .25s ease-in-out
