@use './variables'
@use './jetbrains-mono'
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap')
  
body, html
  margin: 0
  font-family: "Inter", sans-serif
  transition: background-color .25s ease-in-out

input, button, select, textarea
  font-family: "Inter", sans-serif

*
  -webkit-tap-highlight-color: transparent

h1, h2, h3, h4, h5, h6, p, a
  &.code
    font-family: variables.$jetbrains-mono

h1, h2, h3, h4, h5, h6, p
  transition: all .25s ease-in-out
