$poppins: "Poppins", sans-serif
$jetbrains-mono: "JetBrainsMono", sans-serif
$mobile-screen: 720px
$smaller-screen: 1300px

$huge-title-font-size: 3em
$title-font-size: 2.15em
$normal-font-size: 1.25em
$smaller-font-size: .975em
$small-font-size: .8em
$tiny-font-size: .65em

$huge-items-radius: 65px
$big-items-radius: 13px
$small-items-radius: 9px
$card-radius: 25px

$borderWidth: 3px

$modalZIndex: 10000

$background-color: var(--background-color)
$foreground-color: var(--foreground-color)
$foreground-reverse-color: var(--foreground-reverse-color)
$light-text: var(--light-text)
$cec: var(--cec)
$skeleton: var(--skeleton)
$skeleton-shine: var(--skeleton-shine)
$modal-layer-dark: var(--modal-layer-dark)
$success: var(--success)
$warning: var(--warning)
$error: var(--error)
      
$standard-shadow: var(--standard-shadow)
$darker-shadow: var(--darker-shadow)
$lighter-shadow: var(--lighter-shadow)
$standard-shadow-hover: var(--standard-shadow-hover)

=labelStyle
  display: block
  font-size: $smaller-font-size + .1em
  font-weight: 500
  color: $light-text
  margin-bottom: .27em
  text-transform: uppercase