@use "../../styles/variables"

$sidePaddingNormal: .46em
$topPaddingNormal: .55em
$sidePaddingSmall: .28em
$topPaddingSmall: .36em

.Select
  position: relative
  display: flex
  border-radius: variables.$big-items-radius
  overflow: hidden
  font-size: variables.$normal-font-size
  background-color: rgba(variables.$primary-color, .15)
  color: rgb(variables.$primary-color)
  width: min-content
  min-width: 320px
  transition: all .23s ease-in-out

  &.Dark
    background-color: rgba(variables.$primary-color, .3)

  select
    display: block
    outline: none
    background-color: transparent
    border: none
    -webkit-appearance: none
    -moz-appearance: none
    font-size: 1em
    font-weight: 500
    padding: $topPaddingNormal $sidePaddingNormal
    color: rgb(variables.$primary-color)
    width: 100%
    z-index: 10

    &::-ms-expand
      display: none

    &:focus
      outline: none

    option
      background-color: variables.$foreground-color
      color: variables.$foreground-reverse-color

  &.Filled
    background-color: rgb(variables.$primary-color)
    color: #fff

    select
      color: #fff

  &.Small
    font-size: variables.$smaller-font-size
    border-radius: variables.$small-items-radius
    min-width: 110px

    select
      padding: $topPaddingSmall $sidePaddingSmall

  &.Status_error
    background-color: rgba(variables.$error, .15)
    color: rgb(variables.$error)

    select
      color: rgb(variables.$error)

    &.Filled
      background-color: rgb(variables.$error)
      color: #fff

      select
        color: #fff

  &.Status_warning
    background-color: rgba(variables.$warning, .2)
    color: rgb(variables.$warning)

    select
      color: rgb(variables.$warning)

    &.Filled
      background-color: rgb(variables.$warning)
      color: #fff

      select
        color: #fff

  &.Status_success
    background-color: rgba(variables.$success, .15)
    color: rgb(variables.$success)

    select
      color: rgb(variables.$success)

    &.Filled
      background-color: rgb(variables.$success)
      color: #fff

      select
        color: #fff

  .Arrow
    position: absolute
    top: 50%
    right: calc(#{$sidePaddingNormal} + #{variables.$borderWidth})
    display: block
    transform: translateY(-50%)

    svg
      display: block
      font-size: 1.3em
      width: variables.$normal-font-size
      height: variables.$normal-font-size

  &:disabled
    cursor: not-allowed
    opacity: .9

.Label
  display: block
  font-size: variables.$smaller-font-size + .1em
  font-weight: 500
  color: variables.$light-text
  margin-bottom: .27em
  text-transform: uppercase

  &.SmallLabel
    font-size: variables.$small-font-size
    margin-bottom: .05em