@use "../../styles/variables"

$standardPadding: 1.03em

.Card
  position: relative
  background-color: variables.$background-color
  box-shadow: variables.$lighter-shadow
  border-radius: variables.$card-radius
  overflow: hidden
  padding: $standardPadding
  width: min-content
  min-width: 350px

=dataWithLabel
  h1
    font-size: variables.$normal-font-size
    color: variables.$foreground-color
    font-weight: 500
    margin: 0
    line-height: 1em

  p
    display: flex
    align-items: center
    font-size: variables.$small-font-size
    color: variables.$light-text
    font-weight: 500
    margin: 0
    line-height: 1em

.Item
  $firstTitleMargin: .24em
  $space: 1.25em
  display: flex
  align-items: center
  justify-content: space-between
  padding: .85em $standardPadding + .3em
  width: auto
  border-radius: variables.$big-items-radius
  overflow: visible

  .ItemData
    display: flex
    align-items: center

    .OrderType, .BitCount
      background-color: variables.$foreground-color
      color: variables.$foreground-reverse-color
      font-size: variables.$normal-font-size
      font-weight: 500
      border-radius: variables.$small-items-radius - 1.5px
      box-shadow: variables.$standard-shadow
      padding: .04em .38em
      margin-right: $space
      text-transform: uppercase

      &.BitCount
        margin-right: $space - .3em

    .Avatar
      display: flex
      height: min-content
      align-items: center
      margin-right: $space
      transition: opacity .23s ease-in-out

      &:hover
        opacity: .87

      img
        width: 2.35em
        height: 2.35em
        border-radius: 100%
        user-select: none

    .Data
      +dataWithLabel

      h1
        margin-bottom: $firstTitleMargin

        &.Action
          color: variables.$light-text
          font-size: variables.$smaller-font-size

          .Usertag
            color: variables.$foreground-color
            text-decoration: none

      .TradingPostAddress
        color: variables.$foreground-color
        margin-top: .17em

      &.SmallLabel
        h1
          margin-bottom: 0

        p
          margin-bottom: $firstTitleMargin

      .Status
        display: block
        width: 8px
        height: 8px
        margin-left: 8px
        border-radius: 100%
        background-color: variables.$foreground-color
        opacity: .6

        &.Status_success
          opacity: 1
          background-color: variables.$success

        &.Status_pending
          opacity: 1
          background-color: variables.$warning

        &.Status_error
          opacity: 1
          background-color: variables.$error

      .FromTo
        display: flex
        align-items: center

        svg
          font-size: 1em
          width: 1em
          height: 1em
          margin: 0 .7em

        .FromToStatusTooltip
          font-size: .8em
          padding: .2em .4em
          border-radius: 6px

  .ItemInfo
    display: flex
    align-items: center

    .Time, .Match, .RightSection
      +dataWithLabel

      h1, p
        display: block
        text-align: right

      p
        margin-bottom: $firstTitleMargin

      &.Match h1
        font-size: variables.$smaller-font-size + .15em

      &.RightSection
        margin-right: 2.35em

        &:last-child
          margin-right: 0

    .Icon
      $iconLeftMargin: $standardPadding - 0.25em
      $iconAddition: .2em
      display: flex
      align-items: center
      justify-content: center
      font-size: variables.$normal-font-size + $iconAddition
      width: variables.$normal-font-size + $iconAddition
      height: variables.$normal-font-size + $iconAddition
      color: variables.$light-text
      margin-left: $iconLeftMargin
      cursor: pointer
      text-decoration: none
      transition: all .23s ease-in-out

      &.OrbitIcon
        font-size: variables.$normal-font-size
        width: variables.$normal-font-size
        height: variables.$normal-font-size
        margin:
          left: $iconLeftMargin + ($iconAddition * 2)
          right: $iconAddition

      &:hover
        color: variables.$foreground-color

      svg
        font-size: 1em
        width: 1em
        height: 1em

.Balance
  .ItemData 
    .Avatar
      img
        border-radius: 0

      &:hover
        opacity: 1

    .TokenName
      margin-right: .44em

  h1
    margin: 0
    font-weight: 500
    line-height: 1em

$tradingPostStatusSize: 8px

.TradingPost
  cursor: pointer

  .TradingPostStatus
    display: block
    margin-right: $standardPadding + .3em
    width: $tradingPostStatusSize
    height: $tradingPostStatusSize
    border-radius: 100%
    background-color: variables.$foreground-color
    opacity: .6

    &.TradingPostStatus_online
      position: relative
      opacity: 1
      background-color: variables.$success

      &::after
        content: ""
        display: block
        position: absolute
        top: 50%
        left: 50%
        width: $tradingPostStatusSize
        height: $tradingPostStatusSize
        border-radius: 100%
        border: 1px solid variables.$success
        transform: translate(-50%, -50%)
        animation: online-animation 1.4s infinite

    &.TradingPostStatus_offline
      background-color: variables.$error
      opacity: 1

.Asset
  $assetWidth: 204px
  width: $assetWidth
  background-color: variables.$foreground-color
  border-radius: variables.$small-items-radius
  cursor: pointer

  .Preview
    position: relative
    width: $assetWidth
    height: $assetWidth
    overflow: hidden

    img
      position: absolute
      max-width: 100%
      max-height: 100%
      top: 50%
      left: 50%
      user-select: none
      border-top-left-radius: variables.$small-items-radius
      border-top-right-radius: variables.$small-items-radius
      transform: translate(-50%, -50%)

    &.Logo img
      max-height: 80%
      max-width: 80%
      border-radius: variables.$small-items-radius

  .AssetInfo
    padding: ($standardPadding / 3) ($standardPadding / 2)

    h1
      font-size: 1.9em
      color: variables.$foreground-reverse-color
      margin: 0
        bottom: $standardPadding / 4
      font-weight: 600
      line-height: 1em

    .AssetTicker
      font-size: variables.$smaller-font-size
      color: variables.$cec
      line-height: 1em

    .UserData
      display: flex
      align-items: center
      cursor: pointer
      text-decoration: none
      margin-bottom: .13em
      transition: opacity .23s ease-in-out

      &:hover
        opacity: .8

      img
        width: 1.6em
        height: 1.6em
        border-radius: 100%
        user-select: none
        margin-right: .45em

      span
        font-family: variables.$jetbrains-mono
        color: variables.$foreground-reverse-color
        font-size: variables.$small-font-size
        font-weight: 500

    .Price
      font-size: variables.$smaller-font-size
      color: variables.$foreground-reverse-color
      font-weight: 500
      margin: 0

      &.WithTicker
        line-height: 1em
        font-size: 2em

      span
        font-size: .62em
        margin-left: .14em

  &.ReverseAsset
    background-color: variables.$background-color

    .AssetInfo
      h1, .UserData span, .Price
        color: variables.$foreground-color

      .AssetTicker
        color: variables.$light-text

.TokenPortionTitle
  margin: 0
  font-weight: 500
  line-height: 1em
  
@keyframes online-animation
  0%
    width: $tradingPostStatusSize
    height: $tradingPostStatusSize
    
  100%
    width: $tradingPostStatusSize * 4.5
    height: $tradingPostStatusSize * 4.5
    opacity: 0

.UserPopover
  padding:
    top: .8em
    bottom: .8em

  h1, p
    text-align: center !important
    display: block !important

  &.AssetUserPopover
    h1
      font-size: variables.$normal-font-size + .25em
      color: variables.$foreground-color !important