@use "../../styles/variables"

$standardPadding: variables.$standard-padding-card

.Card
  position: relative
  background-color: variables.$component-background
  box-shadow: variables.$lighter-shadow
  border-radius: variables.$card-radius
  overflow: hidden
  padding: $standardPadding
  width: min-content
  min-width: 350px

=dataWithLabel
  h1
    font-size: variables.$normal-font-size
    color: variables.$foreground-color
    font-weight: 500
    margin: 0
    line-height: 1em

  p
    display: flex
    align-items: center
    font-size: variables.$small-font-size
    color: variables.$light-text
    font-weight: 500
    margin: 0
    line-height: 1em

.Item
  $firstTitleMargin: .24em
  $space: 1.25em
  display: flex
  align-items: center
  justify-content: space-between
  padding: .85em $standardPadding + .3em
  width: auto
  border-radius: variables.$big-items-radius
  overflow: visible

  @media screen and (max-width: variables.$mobile-screen)
    padding: .85em ($standardPadding + .3em) / 3 * 2

  .ItemData
    display: flex
    align-items: center

    .OrderType, .BitCount
      background-color: rgb(variables.$primary-color)
      color: #fff
      font-size: variables.$normal-font-size
      font-weight: 500
      border-radius: variables.$small-items-radius - 1.5px
      box-shadow: variables.$standard-shadow
      padding: .04em .38em
      margin-right: $space
      text-transform: uppercase

      &.BitCount
        margin-right: $space - .3em

    .Avatar
      $avatarWidth: 2.35em
      display: flex
      height: min-content
      align-items: center
      margin-right: $space
      transition: opacity .23s ease-in-out

      &:hover
        opacity: .87

      img, .GradientAvatar
        width: $avatarWidth
        height: $avatarWidth
        border-radius: 100%
        user-select: none

      .GradientAvatar
        +variables.userGradient($avatarWidth)

    .Data
      +dataWithLabel

      h1
        margin-bottom: $firstTitleMargin

        &.Action
          color: variables.$light-text
          font-size: variables.$smaller-font-size

          .Usertag
            color: variables.$foreground-color
            text-decoration: none

      .TradingPostAddress
        color: variables.$foreground-color
        margin-top: .17em

      &.SmallLabel
        h1
          margin-bottom: 0

        p
          margin-bottom: $firstTitleMargin

      .Status
        display: block
        width: 8px
        height: 8px
        margin-left: 8px
        border-radius: 100%
        background-color: variables.$foreground-color
        opacity: .6

        &.Status_success
          opacity: 1
          background-color: variables.$success

        &.Status_pending
          opacity: 1
          background-color: variables.$warning

        &.Status_error
          opacity: 1
          background-color: variables.$error

      .FromTo
        display: flex
        align-items: center

        svg
          font-size: 1em
          width: 1em
          height: 1em
          margin: 0 .7em

        .FromToStatusTooltip
          font-size: .8em
          padding: .2em .4em
          border-radius: 6px

  &.Bit
    overflow: hidden

    .HoverEffect
      position: absolute
      display: flex
      align-items: center
      justify-content: center
      text-align: center
      top: 0
      right: 0
      bottom: 0
      background-color: variables.$foreground-color
      color: variables.$foreground-reverse-color
      font-size: 1.4em
      font-weight: 500
      padding: 0 1.3em
      overflow: hidden
      transition: all .5s ease-in-out

    &:not(:hover) .HoverEffect
      right: -100%

  .ItemInfo
    position: relative
    display: flex
    align-items: center

    .Time, .Match, .RightSection
      +dataWithLabel

      h1, p
        display: block
        text-align: right

      h1
        @media screen and (max-width: variables.$mobile-screen)
          font-size: .9em

      p
        margin-bottom: $firstTitleMargin

      &.Match h1
        font-size: variables.$smaller-font-size + .15em

      &.RightSection
        margin-right: 2.35em

        &:last-child
          margin-right: 0

    .Icon
      $iconLeftMargin: $standardPadding - 0.25em
      $iconAddition: .2em
      display: flex
      align-items: center
      justify-content: center
      font-size: variables.$normal-font-size + $iconAddition
      width: variables.$normal-font-size + $iconAddition
      height: variables.$normal-font-size + $iconAddition
      color: variables.$light-text
      margin-left: $iconLeftMargin
      cursor: pointer
      text-decoration: none
      transition: all .23s ease-in-out

      @media screen and (max-width: variables.$mobile-screen)
        margin-left: $iconLeftMargin / 2

      &.SmallerSpace
        $smallerSpaceMarginLeft: $iconLeftMargin / 3 * 2
        margin-left: $smallerSpaceMarginLeft

        @media screen and (max-width: variables.$mobile-screen)
          margin-left: $smallerSpaceMarginLeft / 2

      &:hover
        color: variables.$foreground-color

      svg
        font-size: 1em
        width: 1em
        height: 1em

  &.Dark
    .ItemData
      .OrderType, .BitCount
        box-shadow: 0px 0 17px 6px rgba(variables.$primary-color, .35)

.TokenPortionTitle
  margin: 0
  font-weight: 500
  line-height: 1em
  
.UserPopover
  padding:
    top: .8em
    bottom: .8em

  h1, p
    text-align: center !important
    display: block !important

.HideMobile
  @media screen and (max-width: variables.$mobile-screen)
    display: none