@use "../../styles/variables"

.Checkbox
  $inputSize: 1em
  display: block
  position: relative
  padding-left: $inputSize + .8em
  cursor: pointer
  font-size: variables.$smaller-font-size
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

  .Check
    position: absolute
    display: flex
    align-items: center
    justify-content: center
    top: 50%
    left: 0
    height: $inputSize
    width: $inputSize
    background-color: rgba(variables.$primary-color, .15)
    border-radius: 4px
    transform: translateY(-50%)
    transition: all .13s ease-in-out

    span
      display: flex
      align-items: center
      justify-content: center
      color: #fff

      svg
        font-size: 1em
        width: 1em
        height: 1em

  input
    position: absolute
    opacity: 0
    cursor: pointer
    height: 0
    width: 0

    &:checked ~ .Check
      background-color: rgb(variables.$primary-color)

    &:disabled ~ .Check
      cursor: not-allowed !important