@use '../../styles/variables'
  
.Page
  position: relative
  min-height: 100vh
  padding: 0 22vw

  @media screen and (max-width: variables.$smaller-screen)
    padding: 0 16vw
    
  @media screen and (max-width: variables.$smaller-screen)
    padding: 0 10vw

.PadTop
  padding:
    top: 2em
    bottom: 2em