@use "../../styles/variables"

.TooltipWrapper
  position: relative
  display: inline-block

.Tooltip
  position: absolute
  left: 50%
  padding: .4em .8em
  background-color: variables.$foreground-color
  color: variables.$foreground-reverse-color
  font-weight: 500
  font-size: variables.$smaller-font-size
  text-align: center
  border-radius: variables.$big-items-radius
  z-index: 10000
  width: max-content
  max-width: 150px
  box-shadow: variables.$standard-shadow
  transform: translateX(-50%)

  &.Side
    top: 50%
    transform: translateY(-50%)

  &.WithArrow::after
    content: ""
    position: absolute
    border: 6px solid variables.$foreground-color

  &.Pos_right::after, &.Pos_left::after
    top: 50%
    transform: translateY(-50%)

  &.Pos_top::after, &.Pos_bottom::after
    left: 50%
    transform: translateX(-50%)

  &.Pos_right::after
    right: 100%
    border-color: transparent variables.$foreground-color transparent transparent

  &.Pos_left::after
    left: 100%
    border-color: transparent transparent transparent variables.$foreground-color

  &.Pos_top::after
    top: 100%
    border-color: variables.$foreground-color transparent transparent transparent

  &.Pos_bottom::after
    bottom: 100%
    border-color: transparent transparent variables.$foreground-color transparent